@model MusicPortal.Models.Authenticatio

@{
    ViewData["Title"] = "Create";
}

<h1>Admin Login</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UName" class="control-label"></label>
                <input asp-for="UName" class="form-control" />
                <span asp-validation-for="UName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPassword" class="control-label"></label>
                <input asp-for="UPassword" class="form-control" />
                <span asp-validation-for="UPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
